<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      <%= render :partial => "particial/sidemenu1" %>
    </div>
    <div class="span10">
      <!--Here goes the body content -->
      <h1>Favorite Tickets</h1>
      <p><%= link_to "Add favorite", new_favorite_path, class: "btn" %></p>
      <% @favorite_tickets.each_slice(3) do |slice| %>
        <ul class="thumbnails">
          <% slice.each do |ticket| %>
            <li class="span4">
              <div class="thumbnail" style="padding: 10px">
                <h3><%= ticket.ticket_id  %></h3>
                <p><%= ticket.rtticket.Subject rescue "No such ticket" %></p>
              <hr>
              <p><%= ticket.note %></p>
              <%= button_to "Delete", favorite_path(ticket.id), :method => :delete, :confirm => "Are you sure?", class: "btn " %></p>
            </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>


