<!DOCTYPE html>
<html lang="en">
<head>
  <title>CDNetworks RT Stats</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <!--Header bar-->
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="/">Home</a>
        <ul class="nav">
          <li class="active"><%= link_to "My Tickets", rttickets_path%></li>
          <li><%= link_to "Customer Tickets", customers_path %></li>
          <li><a href="#">Graphs</a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#">Admin</a></li>
        </ul>
        <p class="navbar-text pull-right">
        Logged in as <a href="#"><%= current_user.email %></a>
        | <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        </p>
    </div>
  </div>

  <!--Body content-->
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
  <!--Actual body-->
  <%= yield %>

<!-- if user is not signed in -->
<% else %>
  <%= yield %>
<% end %>

</body>
</html>
